body {
    background-color: #000;
    display: flex;
    flex-direction: row;
    /*padding-bottom: 300px;*/
}
nav {
    width: 200px;
    background-color: #222;
    height: 150vh;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 20px;
    text-align: left;
}

nav a {
    text-decoration: none;
    color: #ddd;
}
p {
    color: aquamarine;
    justify-content: center;
    align-items: center;
  }



/*/////////////////////////////////////*/
.dropbtn {
    background-color: #222;
    color: #ddd;
    padding: 20px;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover, .dropbtn:focus {
    background-color: #222;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #393939;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: #ddd;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  .show {display:block;}
/*/////////////////////////////////////*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.gallery img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
}
/*/////////////////////////////////////*/
.video1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    gap: 150px;
}
.video1 video, 
.video1 iframe {
    width: 100%;
    max-width: 700px;
    height: 400px;
}
