body {
    background-color: #000;
    display: flex;
    flex-direction: row;
    /*padding-bottom: 300px;*/
}
nav {
    width: 200px;
    background-color: #222;
    height: 150vh;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 20px;
    text-align: left;
}

nav a {
    text-decoration: none;
    color: #ddd;
}
p {
    color: aquamarine;
    justify-content: center;
    align-items: center;
  }





/*/////////////////////////////////////*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.gallery img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
}
/*/////////////////////////////////////*/
.video1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    gap: 150px;
}
.video1 video, 
.video1 iframe {
    width: 100%;
    max-width: 700px;
    height: 400px;
}
